
Spraw1/sprawko.aux
Spraw1/sprawko.fdb_latexmk
Spraw1/sprawko.log
Spraw1/sprawko.fls
Spraw1/sprawko.synctex.gz
Spraw1/sprawko.synctex(busy)
Spraw2/sprawko2.log
Spraw2/sprawko2.fdb_latexmk
Spraw2/sprawko2.aux
Spraw2/sprawko2.fls
Spraw2/sprawko2.synctex.gz
