
Spraw1/sprawko.aux
Spraw1/sprawko.fdb_latexmk
Spraw1/sprawko.log
Spraw1/sprawko.fls
Spraw1/sprawko.synctex.gz
Spraw1/sprawko.synctex(busy)
Spraw2/sprawko2.log
Spraw2/sprawko2.fdb_latexmk
Spraw2/sprawko2.aux
Spraw2/sprawko2.fls
Spraw2/sprawko2.synctex.gz
Spraw2/sprawko2.pdf
Spraw2/sprawko2.pdf
Spraw2/test.aux
Spraw2/test.fdb_latexmk
Spraw2/test.fls
Spraw2/test.log
Spraw2/test.pdf
Spraw2/test.synctex.gz
Spraw4/sprawko4.synctex.gz
Spraw4/sprawko4.log
Spraw4/sprawko4.fls
Spraw4/sprawko4.fdb_latexmk
Spraw4/sprawko4.aux
Spraw4/sprawko4.synctex(busy)
*.gz
*.gz
